.container {
  height: 100vh;
  width: 100%;
  background: white;
}

.bubble {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  animation: floatUp 4s linear forwards;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

.imageBubble {
  animation-delay: 1s; // 이미지 버블만 1초 뒤에 up!
}

.port {
  font-weight: bold;
  margin-right: 5px;
}

.image {
  max-width: 120px;
  max-height: 90px;
  border-radius: 12px;
  object-fit: contain;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
