.container {
  height: 100vh;
  width: calc(100% - 320px);
  background: white;
  margin-right: 320px;
}

.defaultBackground {
  height: 100vh;
  width: 100%;
  background: white;
}

.chatBackground {
  height: 100vh;
  width: calc(100% - 320px);
  margin-right: 320px;
  background-color: rgba(55, 65, 81, 0.08);
}

/* 위치 10px 위로 올리기 위해 padding-top을 10px 늘림 */
.chatContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-75%);
  width: 600px;
  max-width: 90vw;
  height: calc(100% - 10px);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.bubble {
  position: absolute;
  /* bottom: 0;  삭제하여 top으로 위치 제어 가능하게 */
  background: rgba(255, 255, 255, 0.8);
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sendMode1 {
  animation: floatUp 4s linear forwards;
}

.sendMode2 {
  animation: floatRight 40s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sendMode3 {
  animation: fadeOut 8s linear forwards;
}
.imageBubble.sendMode {
  animation-delay: 1s;
}

.port {
  font-weight: bold;
  margin-right: 5px;
}

.image {
  max-width: 240px;
  max-height: 180px;
  border-radius: 12px;
  object-fit: contain;
}

.chatBubble {
  background: #f1f3f5;
  color: #495057;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  flex-direction:  column;
  align-self: flex-start;
  max-width: 75%;
}

.chatImageBubble {
  padding: 4px;
  background: transparent;
  max-width: 360px;
  max-height: 240px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.chatImage {
  max-width: 360px;
  max-height: 240px;
  border-radius: 12px;
  object-fit: contain;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes floatRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200vw);
    opacity: 0;
  }
}

/* 채팅 모드에서 이름 스타일 */
.chatBackground .senderName {
  background: #f1f3f5;
  color: #495057;
  font-weight: 700;
  border-radius: 14px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 6px; /* 이름 밑 공간 추가로 겹침 방지 */
  display: block; /* 블록으로 분리하여 이미지와 겹침 방지 */
}

/* 메시지 모드에서 이름 스타일 */
.sendMode .senderName,
.bubble .senderName {
  background: #f1f3f5;
  color: #495057; /* 원하시는 색상으로 조정 가능 */
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 13px;
  margin-bottom: 6px;
  display: block; /* 블록으로 분리 */
}

.topbuttonContainer{
  max-width: calc(100% - 320px);
  //background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
